.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /* background-color: #111; */
  height: 30px;
  z-index: 1;
  margin-bottom: 5rem;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.navbar__logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav__black {
  background-color: #111;
}

.navbar__list {
  list-style: none;
  display: flex;
  margin-left: 5rem;
}

.navbar__list li a {
  text-decoration: none;
  color: #fff;
}

.navbar__list li {
  margin-left: 1rem;
}

.navbar__icons {
  margin-right: 2rem;
}
